@-webkit-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}


@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}



@keyframes blink {
    50% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    50% {
        opacity: 0;
    }
}

@-webkit-keyframes pulsate {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 0.0;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0.0;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 0.0;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0.0;
    }
}

@-webkit-keyframes animate-positive {
    0% {
        width: 0%;
    }
}

@keyframes animate-positive {
    0% {
        width: 0%;
    }
}
@-webkit-keyframes str {
    0%  {
        background-position: 0 0;
    }
    100% {
        background-position: -100% 0; } } 

@keyframes str {
    0%  {
        background-position: 0 0;
    }
    100% {
        background-position: -100% 0; } } 
@keyframes myfirst {
    0% {
        transform: translate(0px, -40px);
    }
    10% {
        transform: translate(0px, -20px);
    }
    20% {
        transform: translate(0px, -10px);
    }

    30% {
        transform: translate(0px, 0px);
    }
    40% {
        transform: translate(0px, -10px);
    } 
    50% {
        transform: translate(0px, -13px);
    }     
    60% {
        transform: translate(0px, -5px);
    }     
    70% {
        transform: translate(0px, 0px);}
    80% {
        transform: translate(0px, -3px);
        }     
    90% {
        transform: translate(0px, 0px);}

    100% {
        transform: translate(0px, -3px);}} 